/* body, h2, p {
	margin: 0;
	padding: 0;
} */


#book {
	background: url(../img/book.png) no-repeat;
	position: absolute;
	width: 861px;
	height: 260px;
	left: 73%;
	top: 50%;
	margin-left:  -40rem;
	margin-top: 170px;
	position: relative;
}

#pages section {
	background: url("../img/paper.png") no-repeat;
	display: block;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
}

#bookpage {
  display: block;
  width: 400px;
  height: 250px;
  font-size: 12px;
}

	#pages section>div {
		display: block;
		width: 400px;
		height: 250px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
  top: -60px;
  left: -60px;
	z-index: 100;
}
