@import "reset.css";
@import "fonts.css";

body {
    background-color: #FAF8F3;
    font-family: 'TryClother', sans-serif;
    overflow-x: hidden;
    mar gin: 230px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'TryClother';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 78.7%;
    color: #38569E;
}

.grid {
    /* grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;
    grid-gap: 1vw; */
    display: grid;
    grid-gap: 100px 50px;
    grid-template-columns: 1fr 350px 350px 1fr;
    width: 97vw;
    margin: 20rem 10rem;
}


a {
    font-size: 30px;
    text-decoration: none;
    color: #38569E;
}

a:hover {
    color: #EDB63F;
    text-decoration: none;
}

a:active {
    color: #FF5858;
    text-underline-position: under;
}

.img_menu a {
     color: #38569E;
     text-decoration: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.info {
    width: 108vw;
    height: 95vh;
    padding: 5rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_top {
    display: flex;
    wi dth: 23vw;
    justify-content: space-between;
}

.menu_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 47rem;
    wid th: 20vw;
}

.img_menu {
    width: 65rem;
    height: 33rem;
    display: flex;

    /* margin-top: -2px; */
    /* position: absolute; */
    margin-: 59vh;
    padding: 17rem 20rem;
    margin-top: -123vh;
    margin-left: -7vw;
}

.logo_and_phrase {
    width: 130vw;
    height: 95vh;
    padding: -3rem 10rem;
    display: flex;
    flex-direction: column;
}

 .avopolice {
   width: 65rem;
   height: 33rem;
   align-items: center;

}

.img_menu a {
    color: #38569E;
    text-decoration: none;
    position: relative;
    padding-left: 4vw;
}

#phrase h2 {
     width: auto;
     text-align: center;
}

@media (max-width: 1440px) {
  .img_menu {
  left: 321px;
  }

  .menu_top {
   width: none;
 }
}
