@import "reset.css";
@import "fonts.css";

body {
    background-color: #FAF8F3;
    font-family: 'TryClother', sans-serif;
    overflow-x: hidden;
    mar gin: 230px;
    margin-left: auto;
    margin-right: auto;
    /* width: 50rem; */
}

h1 {
  font-family: 'TRY Clother';
font-style: normal;
font-weight: bold;
font-size: 200px;
line-height: 110.7%;
/* or 297px */

letter-spacing: -0.02em;

color: #D3402B;
}

h2 {
    font-family: 'TryClotherBold';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 78.7%;
    color: #38569E;
}

.grid {
    /* grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;
    grid-gap: 1vw; */
    display: grid;
    grid-gap: 100px 67px;
    grid-template-columns: 1fr 350px 350px 1fr;
    width: 101vw;
    margin: 6rem 0rem;
}


a {
    font-size: 30px;
    text-decoration: none;
    color: #38569E;
}

a:hover {
    color: #EDB63F;
    text-decoration: none;
}

a:active {
    color: #FF5858;
    text-underline-position: under;
}

.img_menu a {
     color: #38569E;
     text-decoration: none;
}

.wrapper {
    width: 96vw;
    height: 86vh;
}

.info {
  width: 74vw;
  height: 68vh;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}


.menu_top {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.menu_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 39rem;
}

.menu_logo {
  height: 20vh;
  width: 20vw;
}

#super_logo {
      height: 6vh;
      width: 9vw;
      margin-left: 6vw;
}



.img_menu {
    width: 65rem;
    height: 33rem;
    display: flex;

    /* margin-top: -2px; */
    /* position: absolute; */
    margin-: 59vh;
    padding: 17rem 20rem;
    margin-top: -123vh;
    margin-left: -7vw;
}

.content_manifesto {
      margin-top: -36rem;
      width: 27rem;
      display: grid;
      grid-gap: 3rem;
      grid-auto-columns: 6fr;
      grid-template-rows: 16fr 69fr;
      margin-left: 8rem;
      padding: 0rem 14rem 0rem 10rem;
}

.rules {
    height: 12rem;
    width: 24rem;
    margin-left: 10vw;
}

.rules h2 {
  text-align: center;
}

#manifesto_1 {
  text-align: center;
  margin-top: 3vh;
}

#manifesto_2 {
  margin-top: 10vh;
  text-align: center;
}

.row_manifesto {
  padding: 7rem 0rem;
      display: grid;
      grid-template-columns: 35% 33%;
      grid-row-gap: 2vw;
      grid-column-gap: 11vw;
      grid-template-areas:
          "block_1"
          "block_2"
          "block_3"
          "block_4";
}

.block_1 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "picture"
    "item_info";
}

.number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "name"
   "cost";
}

#item_number {
  height: 30vh;
  width: 25vw;
}
/* .grid {
  display: grid;
  grid-gap: 100px 50px;
  grid-template-columns: 1fr 2fr;
  width: 94vw;
  margin: 2vw 2vw 2vw 2vw;
} */

#book {
    background: url(../img/book.png) no-repeat;
    position: absolute;
    width: 861px;
    height: 260px;
    left: 54%;
    top: 50%;
    margin-top: 170px;
    position: relative;
}
