@import "reset.css";
@import "fonts.css";

body {
  background-color: #FAF8F3;
  font-family: 'TryClother', sans-serif;
  /* overflow: hidden; */
  mar gin: 230px;
  margin-left: auto;
  margin-right: auto;
}

.grid_wrapper {
    /* grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;
    grid-gap: 1vw; */
    display: grid;
    grid-gap: 100px 50px;
    grid-template-columns: 1fr 350px 350px 1fr;
    width: 100vw;
    margin: 11rem 24rem;
    position: fixed;
}


a {
  font-size: 30px;
  text-decoration: none;
  color: #38569E;
}

a:hover {
  color: #EDB63F;
  text-decoration: none;
}

a:active {
  color: #FF5858;
  text-underline-position: under;
}

.img_menu a {
 color: #38569E;
 text-decoration: none;
}
.grid_wrapper {
  width: 100vw;
  margin: 20rem 26rem;
}

.wrapper {
  width: 83rem;
  height: 58rem;
}

.info {
  width: 100%;
  height: 95vh;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* place-content: space-between; */
  margin-left: -16rem;
}

.menu_top {
  display: flex;
  wi dth: 23vw;
  justify-content: space-between;
}

.menu_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 47rem;
  wid th: 20vw;
}


p {
  font-family: 'TRY Clother';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 110.7%;
  /* or 33px */

  letter-spacing: -0.02em;
}

h1 {
font-family: 'TryClother', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 200px;
line-height: 280px;
/* color: #D3402B; */
-webkit-text-stroke: 1px (rgba(211, 64, 43, 1);
/* -webkit-text-fill-color: rgba(0,0,0,0.1); */
/* border: 1px solid #D3402B; */
}

h2 {
  font-family: 'TRY Clother';
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 77.7%;
  /* or 58px */
  letter-spacing: -0.02em;
  color: #38569E;
}

.content_manifesto {
    width: 82rem;
    display: grid;
    grid-gap: 13rem;
    grid-template-columns: 16fr 33fr;
    margin-left: 24rem;
    padding: 21rem 14rem 22rem 5rem;
}

/* .grid {
  display: grid;
  grid-gap: 100px 50px;
  grid-template-columns: 1fr 2fr;
  width: 94vw;
  margin: 2vw 2vw 2vw 2vw;
} */
