@import "reset.css";
@import "fonts.css";

body {
    background-color: #FAF8F3;
    font-family: 'TryClother', sans-serif;
    overflow-x: hidden;
    mar gin: 230px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    /* width: 50rem; */
}

h2 {
    font-family: 'TryClother';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 78.7%;
    color: #38569E;
    height: 5vh;
}

.grid {
      display: grid;
      grid-gap: 100px 67px;
      grid-template-columns: 1fr 350px 350px 1fr;
      width: 96vw;
      margin: 3rem 0rem;
}


a {
    font-size: 30px;
    text-decoration: none;
    color: #38569E;
}

a:hover {
    color: #EDB63F;
    text-decoration: none;
}

a:active {
    color: #FF5858;
    text-underline-position: under;
}

.img_menu a {
     color: #38569E;
     text-decoration: none;
}

.wrapper {
  width: 96vw;
  height: 86vh;
}

.info {
  width: 74vw;
  padding: 0rem 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.menu_top {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.menu_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 39rem;
}
.menu_logo {
  height: 20vh;
  width: 20vw;
}

#super_logo {
      height: 8vh;
      width: 9vw;
      margin-left: 6vw;
}



.questions_section {
  margin-top: -51rem;
      margin-left: 6rem;
      width: 27rem;
      padding: 3rem 32rem;
      display: grid;
      grid-template-columns: 30% 39%;
      grid-row-gap: 5vw;
      grid-column-gap: 20vw;
      grid-template-areas:
          "block1"
          "block2";
          z-index: 1;
}

.button {
  z-index: 200;
}

.pages {
  height: 100vh;
  width: 100vw;
}

.button p {
  text-align: center;
      display: inline-block;
      box-sizing: border-box;
      font-size: 1rem;
      font-family: 'TryClother';
      padding: 1rem 3rem;
      border-radius: 4px;
      border: 2px solid #E8CD19;
  }

  .button p:hover {
      background: #E8CD19;
  }

  .button p:active {
    background: #E8CD19;
  }

.button #block1 {
    margin-top: 3vh;
    margin-left: -10vw;
}

.button #block2 {
    margin-top: 2vh;
}

#canvas {
  margin-left: 32vw;
      margin-top: -1vh;
      width: 720px;
      height: 400px;
    border: 2px solid #E8CD19;
}

#defaultCanvas0 {
  width: 720px;
  height: 480px;
  margin-left: 32vw;
  margin-top: -41vh;
}

  /* .my-modal {
  position: fixed;
  background-color: #F7FAED;
  width: 40vw;
  height: 40vh;
  z-index: 10;
  border: 10px solid #000C5E;
  box-shadow: 0px 4px 15px #000000;
  border-radius: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 800ms ease;
  }

  .my-modal.is-hidden {
    visibility: hidden;
    opacity: 0; */
