@import "reset.css";
@import "fonts.css";

body {
    background-color: #FAF8F3;
    font-family: 'TryClother', sans-serif;
    overflow-x: hidden;
    mar gin: 230px;
    margin-left: auto;
    margin-right: auto;
    /* overflow-y: hidden; */
    /* width: 50rem; */
}

h2 {
    font-family: 'TryClother';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 78.7%;
    color: #38569E;
}

.grid {
    /* grid-template-columns: [left-gutter] 1fr [wrapper] 12fr [right-gutter] 1fr;
    grid-gap: 1vw; */
    display: grid;
    grid-gap: 100px 67px;
    grid-template-columns: 1fr 350px 350px 1fr;
    width: 101vw;
    margin: 6rem 0rem;
}


a {
    font-size: 30px;
    text-decoration: none;
    color: #38569E;
}

a:hover {
    color: #EDB63F;
    text-decoration: none;
}

a:active {
    color: #FF5858;
    text-underline-position: under;
}

.img_menu a {
     color: #38569E;
     text-decoration: none;
}

.wrapper {
    width: 96vw;
    height: 86vh;
}

.info {
  width: 74vw;
  height: 68vh;
  padding: 0rem 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.menu_top {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.menu_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 27rem;
}

.menu_logo {
  height: 20vh;
  width: 20vw;
}

#super_logo {
      height: 8vh;
      width: 9vw;
      margin-left: 6vw;
}

#item_img {
    height: 25vh;
    width: 25vw;
}

.img_menu {
    width: 65rem;
    height: 33rem;
    display: flex;

    /* margin-top: -2px; */
    /* position: absolute; */
    margin-: 59vh;
    padding: 17rem 20rem;
    margin-top: -123vh;
    margin-left: -7vw;
}

.shop {
    margin-top: -86vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "block1" "block2" "block3" "block4"
}

.row_1 {
  padding: 0rem 18rem;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-row-gap: 2vw;
  grid-column-gap: 11vw;
  grid-template-areas:
      "block1"
      "block2"
      "block3"
      "block4";
}

.block_1 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "picture"
    "item_info";
}

.block_2 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
      "picture"
      "item_info";
}

.block_3 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
      "picture"
      "item_info";
}

.block_4 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
      "picture"
      "item_info";
}

.picture {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "name"
   "cost";
}

#item_img {
  height: 30vh;
  width: 25vw;
}

.name {
  margin-left: 2vw;
}

.cost {
  margin-left: 5vw;
}
